
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff7e6;
}

header {
    background-color: #b30000;
    color: white;
    text-align: center;
    padding: 20px;
}

.restaurant-list {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.restaurant-card {
    background-color: white;
    width: 260px;
    margin: 15px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

.restaurant-card h2 {
    color: #333;
}

.restaurant-card p {
    color: #555;
    font-size: 14px;
}
button {
    margin-top: 15px;
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    background-color: #ff6600;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #cc5200;
}
